@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  padding: 2em;
}

.align-nav {
  float: right;
}

.navbar-toggler {
  color: rgb(0, 0, 0, 0.55) !important;
  border-radius: 20px;
}

.custom-btn {
  background-color: transparent;
  border: transparent;
  color: #262626;
  width: 6.15em;
  font-size: 1.125em;
  padding: 0.625em;
  margin-left: 1.75em;
}

.custom-btn:hover {
  background-color: transparent;
  color: #262626;
  opacity: 75%;
}

.custom-btn:focus {
  background-color: transparent !important;
  border-color: transparent !important;
  outline: 0 !important;
  color: #262626 !important;
  box-shadow: none !important;
}

#log-in {
  border-radius: 50px;
  border: #262626 solid 1px;
}

#log-in:hover,
#log-in:focus {
  border: #262626 solid 1px !important;
}
