@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
  color: #262626;
}

body {
  background-color: #FBF8F8;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  padding: 2em;
}

.align-nav {
  float: right;
}

.navbar-toggler {
  color: rgb(0, 0, 0, 0.55) !important;
  border-radius: 20px;
  font-size: 24px;
}

.custom-btn {
  background-color: transparent;
  border: transparent;
  color: #262626;
  width: 6.15em;
  font-size: 1.125em;
  padding: 0.625em;
  margin-left: 1.75em;
}

.custom-btn:hover {
  background-color: transparent;
  color: #262626;
  opacity: 75%;
}

.custom-btn:focus {
  background-color: transparent !important;
  border-color: transparent !important;
  outline: 0 !important;
  color: #262626 !important;
  box-shadow: none !important;
}

#log-in {
  border-radius: 50px;
  border: #262626 solid 1px;
}

#log-in:hover,
#log-in:focus {
  border: #262626 solid 1px !important;
}

#quizzo-title {
  font-size: 6.25em;
  font-weight: 600;
  transition: 0.125s ease-out;
  padding-top: 8.25vh;
}

.title {
  background: -webkit-linear-gradient(80deg,#fd8927f0, #f06051);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro {
  text-align: center;
  font-size: 1.45em;
  margin-top: -0.5em;
}

@media screen and (max-width: 768px) {
  #quizzo-title {
    font-size: 4.25em;
  }
  .intro {
    font-size: 1em;
    padding: 0 2em;
  }
}

#scratch-position {
  position: absolute;
  left: 25%;
  z-index: -1;
  transition: 0.25s ease;
}

@media screen and (max-width: 992px) {
  #scratch-position {
    left: 10%;
  }
}

#intro-scratch {
  z-index: -10;
  stroke-dasharray: 336;
  stroke-dashoffset: 336;
  animation: sign 1.125s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

#pin-field {
  margin: 6em auto;
  width: 40vw;
  padding: 18px 18px 18px 35px;
  border: 1px solid #262626;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
}

.enter-pin-field {
  align-items: center;
  position: relative;
  display: flex;
  width: 90%;
}

input, input:focus, textarea:focus, select:focus {
  outline: none;
  border: none;
  background-color: transparent;
  /* font-size: 2em; */
  /* font-weight: 200; */
  /* width: 100%; */
  padding-right: 1em;
}

::placeholder {
  opacity: 30%;
}

.enter-arrow-btn {
  outline: none;
  border: 1px solid #262626;
  background-color: transparent;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  transition: 0.15s ease;
}

.enter-arrow-btn:hover {
  opacity: 75%;
}

.right-arrow {
  width: 65%;
}

@media screen and (max-width: 992px) {
  #pin-field {
    padding: 10px 15px 10px 20px;
  }

  input, input:focus, textarea:focus, select:focus {
    font-size: 1.35em;
  }

  .enter-arrow-btn {
    width: 2.5em;
    height: 2.5em;
  }
}

@media screen and (max-width: 768px) {
  #pin-field {
    width: 50vw;
  }

  .enter-arrow-btn {
    width: 2.25em;
    height: 2.25em;
  }
}

@media screen and (max-width: 576px) {
  #pin-field {
    width: 70vw;
  }
}
