@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

.container-fluid {
  padding: 0;
}

Container {
  font-family: 'Poppins', sans-serif;
  background: #e5e5e5;
}

.score-board {
  margin: 0;
  background: white;
  height: 118px;
  width: 100vw;
  font-size: 44px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-board p {
  background: -webkit-linear-gradient(45deg, #fd8927f0, #f06051);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.next-button {
  width: fit-content;
  margin-left: auto;
  margin-right: 5vw;
  margin-top: 40px;
  margin-bottom: 50px;
}

#next-button {
  height: 60px;
  background: #fc8e31;
  font-size: 1.33rem;
  font-weight: 500;
  border: none;
  left: 20;
}

.score-container {
  height: 50vh;
  width: 100vw;
}

.score {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

@keyframes confetti {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

.container {
  position: relative;
  z-index: -1;
}

.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translateX(-50%) translateZ(0);
  animation: confetti linear infinite;
}

.parallax img:nth-child(1) {
  animation-delay: -40s;
  animation-duration: 10s;
}

.parallax img:nth-child(2) {
  animation-delay: -30s;
  animation-duration: 20s;
}

.parallax img:nth-child(3) {
  animation-delay: -20s;
  animation-duration: 30s;
}

.parallax img:nth-child(4) {
  animation-delay: -10s;
  animation-duration: 40s;
}

.parallax img:nth-child(5) {
  animation-delay: 0s;
  animation-duration: 50s;
}
