.filter-bar-form {
  width: 40%;
  position: relative;
}

.search-bar {
  background-color: #fff;
  border-radius: 25px;
  height: 50px;
  padding: 0 50px;
  flex: 1;
}

.search-bar:focus {
  background-color: #fff;
}

.search-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.search-icon {
  font-size: 25px;
  position: absolute;
  top: 12px;
  left: 17px;
}

.cancel-icon {
  position: absolute;
  font-size: 25px;
  top: 12px;
  right: 17px;
}
