.question {
  width: 70%;
  height: auto;
  padding: 0;
  margin: 2em auto;
  display: block;
  overflow: auto;
}

.content {
  float: none;
  overflow: hidden;
}

.smaller-font {
  font-size: 12px;
}

.img {
  height: 200px;
  width: 200px;
  display: block;
  float: left;
}

.icon {
  font-size: 25px;
  margin-left: 10px;
}

.question-header {
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.question-section {
  width: 70%;
}

.question-content {
  border-bottom: none;
  display: flex;
  justify-content: space-between;
}

.clickable {
  cursor: pointer;
  user-select: none;
}
