.question {
  width: auto;
  height: auto;
  padding: 0;
  margin: 2em;
  display: block;
  overflow: auto;
}

.content {
  float: none;
  overflow: hidden;
}

.img {
  height: 200px;
  width: 200px;
  display: block;
  float: left;
}

.btn-create {
  margin-left: 45px;
  margin-top: 20px;
}
